body {
    font-family: "Lucida Console", Monaco, monospace ; 
    background-color:  #eeccff; 

}

h1{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 30pt;
    font-weight: bold;
    background-color: yellow;
    width: 650px;
    margin-top: 120px;
    margin-left: 120px ; 
    color:  #ffcc99; 
}

img{ 
    height: 100px;
    width: 100px;
    margin-left: 400px;
    
}


p{ 
    font-size: 12pt ; 
text-decoration:none;
position: relative;
width: 500px ; 
height:20px ; 
margin-left: 200px ;
padding-bottom: 20px ;

}

p:hover { 
    text-decoration: line-through; 
    color: white ; 

}

blockquote { 
    margin-left: 200px ; 
    width: 500px;
    height: 90px ;
    font-size: 25pt; 
    font-family: Georgia ; 
    font-style: italic;
    color:  #bb99ff ; 
    text-shadow: 3px 3px pink;

}

blockquote:hover {
    margin-left: 210px;
    }

h2{ 
margin-left: 220px ;
padding-top: 30px ; 
color: white ; 


}


a{ 
text-decoration: none ; 
color: #ff66b2}

a:hover {
text-decoration: line-through;}

h3{
    font-size: 10pt ; 
    margin-left: 400px ; 
    margin-top: 120px ; 
    color: #ff66b2 ; 
}

ul{
    margin-left: 220px ; 


}

li{ 
color: #0066ff;
}

li:hover{
    font-style: bold; 
    text-decoration: underline;
}